.button--default {
  border-radius: 22px;
  border: 2px solid $color-bright;
  height: 45px;

  &.contentinfo__button {
    width: 76px;

    @include tablet {
      width: 91px;
    }

    @include display {
      width: 160px;
    }
  }

  &.reasons__button {
    background-color: $color-bright;
    color: $color-primary;
    width: 184px;
  }
}
