.button--default {
  border-radius: 22px;
  border: 2px solid $color-bright;

  &.contentinfo__button {
    width: 76px;
    height: 45px;

    @include tablet {
      width: 91px;
    }

    @include display {
      width: 160px;
    }
  }
}
