body {
  font-family: $font-primary;
}

.title {
  font-family: $font-secondary;
  font-weight: 600;

  &--large {
    font-size: $font-size-title;
    line-height: 55px;

    @include tablet {
      font-size: $font-size-headline;
      line-height: 106px;
    }

    @include display {
      font-size: $font-size-principal;
      line-height: 132px;
    }
  }

  &--medium {
    font-size: $font-size-large;

    @include tablet {
      font-size: $font-size-extralarge;
      line-height: 45px;
    }

    @include display {
      font-size: $font-size-largeextra;
    }
  }

  &--small {
    font-size: $font-size-regular;

    @include tablet {
      font-size: $font-size-large;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

/* Header */
.header {
  color: $color-primary;
  text-align: center;

  &__subtitle {
    font-size: $font-size;

    @include tablet {
      font-size: $font-size-large;
    }
  }
}

/* Sección de Contenido */

.contentinfo {
  line-height: 30px;

  &__header {
    color: $color-light;
    font-size: $font-size-small;
  }
  &__text {
    color: $color-neutral;
    font-size: $font-size-regular;
  }
}

/*Sección 3 razones*/

.reasons {
  line-height: 30px;
  text-align: center;

  &__post {
    font-size: $font-size-regular;

    @include tablet {
      font-size: $font-size-medium;
    }
  }
}

/* Sección Footer */

.footer__menu {
  line-height: 30px;
  text-align: center;

  &--list {
    font-size: $font-size;
  }

  &--credits {
    font-size: $font-size-small;
  }

  @include tablet {
    text-align: left;
  }
}
