body {
  font-family: $font-primary;
}
h1,
h2,
h3 {
  font-family: $font-secondary;
}
.header {
  color: $color-primary;
  text-align: center;

  &__title {
    text-transform: uppercase;
    font-size: $font-size-title;
    line-height: 55px;

    @include tablet {
      font-size: $font-size-headline;
      line-height: 106px;
    }

    @include display {
      font-size: $font-size-principal;
      line-height: 132px;
    }
  }
  &__subtitle {
    font-size: $font-size;

    & span {
      text-transform: capitalize;
    }

    @include tablet {
      font-size: $font-size-large;
    }
  }
}

.contentinfo {
  line-height: 30px;

  &__header {
    color: $color-light;
    font-size: $font-size-small;
    text-transform: capitalize;
  }
  &__title {
    font-weight: 600;
    font-size: $font-size-large;
    text-transform: capitalize;
  }
  &__text {
    color: $color-neutral;
    font-size: $font-size-regular;

    & span {
      text-transform: capitalize;
    }
  }
  &__button {
    & a {
      color: $color-bright;
      text-transform: capitalize;
      font-size: $font-size-bottom;
      text-align: center;
    }
  }
}
