<section role="contentinfo">
  <div class="contentinfo">
    <small class="contentinfo__header capitalize">insomnia tips</small>
    <h2 class="title title--medium capitalize">looking throught a window</h2>
    <p class="contentinfo__text">
      <span class="capitalize">donec</span> accumsan, nulla ut volutpat
      porttitor, quam odio tempus felics, at luctus ex diam nec lectus. Vivamus
      semper sodales rutrum.
    </p>
    <div class="contentinfo__button">
      <a
        href="#"
        title="Conocer más"
        class="button button--secondary capitalize"
      >
        go
      </a>
    </div>
  </div>
</section>
