<footer class="footer">
  <div class="footer__container">
    <nav class="footer__menu">
      <ul>
        <li class="uppercase">articles</li>
        <li class="uppercase">books</li>
        <li class="uppercase">events</li>
        <li class="uppercase">reasons</li>
        <li class="uppercase">tips</li>
      </ul>
    </nav>
    <nav class="footer__menu">
      <ul>
        <li class="uppercase">twitter</li>
        <li class="uppercase">instagram</li>
        <li class="uppercase">mastodon.social</li>
      </ul>
    </nav>
    <div class="footer__menu">
      <p>&copy;2017</p>
      <p>we<span> ❤︎ </span>components</p>
    </div>
  </div>
</footer>
