<header class="header" id="#page-block">
  <nav class="header__menu">
    <a href="https://adalab.es/" title="Ir a la home de Adalab" target="_blank">
      <span class="icon icon-hamburger"></span>
    </a>
  </nav>
  <h1 class="title title--large">
    <span class="uppercase">anonymous</span>
    <span class="uppercase">proxy</span>
  </h1>
  <blockquote class="header__subtitle">
    <span class="capitalize">in</span> hac habitasse platea dictumst.
  </blockquote>
  <a
    href="#first-section-block"
    class="header__scroll-down--link"
    title="Ir a la sección principal"
  >
    <span class="icon icon-scroll--down"></span>
  </a>
</header>
