<section role="reasons" id="first-section-block" class="reasons__section">
  <div class="reasons__container">
    <div class="reasons">
      <h2 class="title title--medium">3 reasons to purchase</h2>
      <article class="reasons__post">
        <h3><span class="capitalize">ut</span> sed metus</h3>
        <p>
          <span class="capitalize">lorem</span> ipsum dolor sit amet,
          consecteur.
        </p>
      </article>
      <article class="reasons__post">
        <h3 class="title title--small">
          <span class="capitalize">curabitur</span> ac erat
        </h3>
        <p>
          <span class="capitalize">mauris</span> mattis urna quis lorem
          molestie.
        </p>
      </article>
      <article class="reasons__post">
        <h3><span class="capitalize">morbi</span>dictum</h3>
        <p>
          <span class="capitalize">aliquam</span> in dolor et dolor tincidunt.
        </p>
      </article>
      <div class="reasons__button">
        <a href="#" title="Conocer más razones" class="button button--primary">
          <span class="capitalize">more </span>reasons
        </a>
      </div>
    </div>
  </div>
</section>
