<section role="reasons" id="first-section-block" class="reasons__page">
  <div class="reasons">
    <h2 class="reasons__title">3 reasons to purchase</h2>
    <article class="reasons__post">
      <h3><span>ut</span> sed metus</h3>
      <p><span>lorem</span> ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="reasons__post">
      <h3><span>curabitur</span> ac erat</h3>
      <p><span>mauris</span> mattis urna quis lorem molestie.</p>
    </article>
    <article class="reasons__post">
      <h3><span>morbi</span>dictum</h3>
      <p><span>aliquam</span> in dolor et dolor tincidunt.</p>
    </article>
    <div class="button--default reasons__button">
      <a href="#" title="Conocer más razones"> <span>more </span>reasons</a>
    </div>
  </div>
</section>
