// Fonts
$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", serif;
$font-size: 16px;
$font-size-small: 0.875rem;
$font-size-regular: 1.125rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-extralarge: 1.625rem;
$font-size-largeextra: 2rem;
$font-size-title: 2.625rem;
$font-size-headline: 5rem;
$font-size-principal: 6.25rem;

// Colors
$color-primary: #ffffff;
$color-bright: #f26002;
$color-light: #8ccbea;
$color-extralight: #eff9ff;
$color-medium: #0271bc;
$color-dark: #304268;
$color-neutral: #4a4a4a;

// Breakpoints

$tablet: 768px;
$display: 1280px;
