.contentinfo {
  padding: 30px 15px 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
  }
}
