.contentinfo {
  padding: 30px 15px 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;

  @include tablet {
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 60px;
  }

  @include display {
    padding: 60px 275px;
  }

  &__header {
    color: $color-light;
    font-size: $font-size-small;
  }

  & .title {
    margin-bottom: 15px;

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__text {
    margin-bottom: 30px;
    color: $color-neutral;
    font-size: $font-size-regular;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      width: 76px;

      @include tablet {
        width: 91px;
      }

      @include display {
        width: 160px;
      }
    }
  }
}
