.footer {
  background-color: $color-dark;
  color: $color-primary;
  position: relative;

  &__container {
    padding: 60px 15px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet {
      padding-left: 39px;
      padding-right: 39px;
      padding-top: 45px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @include display {
      padding-left: 370px;
      padding-right: 370px;
    }
  }

  &__menu {
    line-height: 30px;
    text-align: center;

    @include tablet {
      width: 210px;
      text-align: left;
    }

    @include display {
      width: 160px;
    }
  }

  &__menu--list {
    padding-bottom: 30px;
    font-size: $font-size;

    @include tablet {
      padding-bottom: 0px;
    }

    & a {
      padding: 2px;
    }
  }

  &__menu--credits {
    order: 1;
    font-size: $font-size-small;
    & span {
      color: $color-bright;
    }

    @include tablet {
      order: 0;
      padding-right: 30px;
    }
  }

  &__scroll {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -25px);
    animation-name: button-move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  &__scroll-up--link {
    background-color: $color-primary;
    width: 45px;
    height: 45px;
    border-radius: 22px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 $color-dark;
  }
}

@keyframes button-move {
  0% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, -25px);
  }
  50% {
    transform: translate(0, -25px);
  }
  100% {
    transform: translate(0, -30px);
  }∫
}
