.header {
  background-image: url("../images/cover.jpg");
  background-position: 100%;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: $color-primary;
  text-align: center;

  &__snow {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    animation-name: snow-city;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__menu {
    background-color: $color-medium;
    position: fixed;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;

    & a {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .title {
    margin: 284px 15px 10px;

    & span {
      display: block;
    }

    @include tablet {
      margin: 384px 39px 20px;
    }

    @include display {
      margin-left: 275px;
      margin-right: 275px;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    margin: 0 15px 45px;
    font-size: $font-size;

    @include tablet {
      margin: 0 204px 30px;
      width: 370px;
      font-size: $font-size-large;
    }
    @include display {
      margin-left: 275px;
      margin-right: 275px;
    }
  }

  &__scroll-down--link {
    background-color: $color-primary;
    width: 45px;
    height: 45px;
    border-radius: 22px;
    margin: 0 138px 53px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    @include tablet {
      margin: 0 360px 45px;
    }
    @include display {
      margin: 0 618px 13px;
    }
  }
}

@keyframes snow-city {
  from {
    opacity: 0.5;
    filter: blur(0.1xp);
    background-size: 300px;
    background-position: 0 -2000px;
  }

  to {
    opacity: 0.7;
    filter: blur(0.5px);
    background-size: 550px;
    background-position: 0 -1000px;
  }
}
